body{

background-color: lightblue;

}

.extra-font{
font-style :bold;
text-align :center;
font-size : 60px;
background-color : #339CFF;

}

.large-font{ 
font-style :bold;
font-size : 20px;
background-color : #339CFF;
}


.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */