body{

background-color: lightblue;

}

h1{
	font-style :bold;
text-align :center;
font-size : 60px;
background-color : #339CFF;
}

h2{

font-style :bold;
padding-left : 50px;
font-size : 15px;

}


.extra-font{
font-style :bold;
text-align :center;
font-size : 60px;
background-color : #339CFF;

}

.large-font{ 
font-style :bold;
font-size : 20px;
background-color : #339CFF;
}


.std-font{ 
font-style :bold;
font-size : 20px;
background-color : #339CFF;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

img {
  border-radius: 20px;
  border: solid 2.5px black;
  height:350px;
  width: 450px;
  margin-left: 400px;
  
}


.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */